<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="org.neteril.Similardio" android:versionCode="2">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="18" />
	<application android:label="Similardio" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>